@import './rubin';

// -------------------------
// Typography
// -------------------------
$font-family-base: $rubin-font-family;

// -------------------------
// Colors
// -------------------------

// theme-color-variables
$primary: $rubin-teal-dark !default;
$secondary: $rubin-dark !default;
$success: $rubin-accent-green !default;
$danger: $rubin-accent-red !default;
$warning: $rubin-accent-orange !default;
$info: $rubin-teal-2 !default;
$light: $rubin-light !default;
$dark: $rubin-dark !default;
