<!-- Footer -->
<footer class="text-center bg-light">

    <section class="d-flex justify-content-center justify-content-lg-around align-items-center border-top p-4">
        <!-- Left -->
        <div class="me-4">
            <!-- Copyright -->
          <span>© {{ site.time | date: '%Y' }} Copyright:
            <a class="text-reset fw-bold" href="{{ site.url }}">{{ site.copyright }}</a>
          </span>
            <!-- Copyright -->
        </div>
        <!-- Left -->
    
        <!-- Right -->
        <div class="me-4">
          <a href="{{site.git_edit_address}}/{{ page.path }}" target="_blank" type="button" class="btn btn-outline">
            Improve this page <i class="fab fa-github mr-3"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
</footer>
<!-- Footer -->
