<!-- Background image -->
<section
id="intro"
class="text-center bg-image home-parallax home-fade home-section"
style="background-image: url('assets/img/background.png'); 
       background-color: #363333;
       background-position: center; background-repeat: no-repeat; background-size: cover;
       z-index: 0;"

>
<div  class="mask bg-image" style="background-image: url('assets/img/foreground.png'); 
                                   background-attachment: inherit;
                                   pointer-events: none;
                                   ">
    <div class="d-flex justify-content-center align-items-center h-100 caption-content vertical-align: middle;" >
    <div class="text-white">
        <h3 class="white-text"><span style="color: #F5F5F5;" >Vera C. Rubin</span> <span style="color: #009FA1; font-weight: 400;">Observatory</span>
            <span style="display: inline-block; font-weight: 300; font-style: italic;">Legacy Survey of Space and Time</span></h3>
        <h1 class="display-4 font-weight-bold white-text mb-2" style="font-weight: 400;">Informatics & Statistics Science Collaboration</h2>
        <a class="btn btn-outline-light section-scroll" href="#about">Learn More</a>
    </div>
    </div>
</div>
</section>
<!-- Background image -->
