<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar fixed-top {% if page.title == "Home" %}navbar-transparent{% endif %}" 
     style="z-index: 2000; transition: all 0.25s;">
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand nav-link" href="{{ '/index.html' | relative_url }}">
        {{site.brand}}
        </a>

        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% assign pages = site.pages | sort: 'order' | group_by: 'category' %}
            {% for cat in pages %}
              {% assign items = cat.items %}
              {% assign items_size = cat.items | size %}
      
              <!-- Links without a category are hidden -->
              <!-- Links with a unique category are placed at the root-->
              {% if items_size == 1 %}
      
                {% for item in items %}
                  {% if item.title != undefined %}
                  <li class="nav-item {% if item.url == page.url %}active{% endif %}">
                    <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                  </li>
                  {% endif %}
                {% endfor %}
      
              {% elsif cat.name != "" %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false">{{ cat.name | capitalize }}</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for item in items %}
                      <li>
                        <a class="dropdown-item" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                      </li>
                    {% endfor %}
                </ul>
                </li>
              {% endif %}
            {% endfor %}
        </ul>

        <ul class="navbar-nav d-flex flex-row">
            <!-- Icons -->
            {%- if site.links.youtube -%}
            <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ site.links.youtube }}" rel="nofollow"
                target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
            </li>
            {%- endif -%}
            {%- if site.links.twitter -%}
            <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ site.links.twitter }}" rel="nofollow" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            </li>
            {%- endif -%}
            {%- if site.links.github -%}
            <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ site.links.github }}" rel="nofollow" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            </li>
            {%- endif -%}
        </ul>
        </div>
    </div>
</nav>
<!-- Navbar -->
