---
common-css:
  - "/assets/css/mdb.rubin.css"
  - "/assets/css/custom.css"
common-ext-css:
  - "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
common-ext-js:
  - href: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
  - href: "https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"
common-js:
  - "/assets/js/mdb.min.js"
  - "/assets/js/main.js"
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <!--Main Navigation-->
  <header>
    {% include navbar.html %}
  </header>
  <!--Main Navigation-->

  {{ content }}

  {% include footer.html %}
  {% include footer-scripts.html %}

</body>
</html>